PORT=5001
NODE_ENV=production
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/affiliate_link_sharing?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_TOKEN_SECRET=your_jwt_refresh_secret_key_here
CLIENT_URL=https://your-app-name.vercel.app

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret

# Gmail (Password reset emails)
GMAIL_EMAIL_ID=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password

# Cloudinary (Image upload)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
